<h1>Events Index Page<h1>

<%= form_tag(events_path, method: :get) do %>
  Event Name <%= text_field_tag(:name, params[:name]) %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<%= form_tag(events_path, method: :get) do %>
  From Date <%= text_field_tag('search[date_from]', @search.try(:date_from) || Date.today-1.year) %>
  To <%= text_field_tag('search[date_to]', @search.try(:date_to) || Date.today.to_s) %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<br />
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Location</th>
    <th>Speaker</th>
    <th>Date</th>
    <th>Description</th>
    <th>Max Particitpants</th>
  </tr>
  <% @events.each do |e| %>
    <tr>
      <td><%= link_to e.name, event_path(e) %></td>
      <td><%= e.event_type %></td>
      <td><%= e.location %></td>
      <td><%= e.users.first.try(:name) %></td>
      <td><%= e.date.strftime("%m/%d/%Y") %></td>
      <td><%= e.description %></td>
      <td><%= e.max_participants %></td>
    </tr>
  <% end %>
</table>