<div class="row">
  <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h1>Create a new event</h1>
    </div>
  <div class="col-sm-2"></div>
</div>

<div class="row">
  <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <%= form_with scope: :event, url: events_path, local: true do |f| %>
        <p>
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </p>

        <p>
          <%= f.label :event_type %><br>
          <%= f.select :event_type, ['Workshop', 'Office Hours']%>
        </p>

        <p>
          <%= f.label :speaker %><br>
          <%= select_tag "speaker", options_from_collection_for_select(@users, "name", "name") %>
        </p>

        <p>
          <%= f.label :location %><br>
          <%= f.text_field :location %>
        </p>

        <p>
          <%= f.label :date %><br>
          <%= date_select("event", "date") %>
        </p>

        <p>
          <%= f.label :duration %><br>
          <%= f.label :start_time %><br>
          <%= time_select("event", "start_time") %>
          <%= f.label :end_time %><br>
          <%= time_select("event", "end_time") %>
        </p>
      
        <p>
          <%= f.label :description %><br>
          <%= f.text_area :description %>
        </p>

        <p>
          <%= f.label :max_participants %><br>
          <%= f.number_field :max_participants %>
        </p>
      
        <p>
          <%= f.submit %>
        </p>

      </div>
  <div class="col-sm-2"></div>
</div>
<% end %>

